<div class="h-max border bg-gray-300 w-full p-2">
    <div class="flex justify-around p-2"> 
    <div class="flex flex-col items-start gap-1">
        <button>Support</button>
        <button>Help Center</button>
        <button>AirCover</button>
        <button>Anti-discrimination</button>
        <button>Disability support</button>
        <button>Cancellation options</button>
        <button>Report neighbourhood concern</button>
        <button>Support</button>
    </div>
    <div class="flex flex-col items-start gap-1">
        <button>Hosting</button>
        <button>Airbnb your home</button>
        <button>AirCover for hosts</button>
        <button>Hosting Resources</button>
        <button>Community forum</button>
        <button>Hosting responsibly</button>
    </div>
    <div class="flex flex-col items-start gap-1">
        <button>Airbnb</button>
        <button>Newsroom</button>
        <button>New features</button>
        <button>Careers</button>
        <button>Investors</button>
        <button>Airbnb.org emergency stays</button>
    </div>
    </div>
    <hr />
    <div class="flex justify-around">
        <div class="flex gap-4">
            <p>2024 Airbnb,Inc.</p>
            <li>Privacy</li>
            <li>Terms</li>
            <li>Sitemap</li>
            <li>Company Details</li>
        </div>
        <div>

        </div>
    </div>
</div>