<div class=" w-[85vw] mx-auto font-sans">
    <p class="text-3xl m-5">{{data.name}}</p>
    <div class="flex h-max w-full gap-4 my-5">
        <img src={{data.image}} class="w-1/2 object-cover object-center rounded-xl" />
        <div class="grid grid-cols-2 grid-flow-row gap-4">
        <img src={{data.image2}} class="w-72 object-cover object-center rounded-xl" />
        <img src={{data.image2}} class="w-72 object-cover object-center rounded-xl" />
        <img src={{data.image2}} class="w-72 object-cover object-center rounded-xl" />
        <img src={{data.image2}} class="w-72 object-cover object-center rounded-xl" />
        </div>
    </div>
    <div class="flex relative gap-5">
        <div class="w-3/5">
            <p class="text-2xl">{{data.description}}</p>
            <hr />
            <div class="flex gap-4 py-4 items-center">
                <div class="w-10">
                <img src="https://a0.muscache.com/im/pictures/user/88c78c99-4d21-41e2-9ead-22c89b19b1be.jpg" class="rounded-full object-cover object-top"/>
                </div>
                <div>
                    <p class="text-lg font-semibold">Hosted By Manager</p>
            <p class="text-sm">4 years hosting</p>
                </div>
            </div>
            
            <hr />
            <div class="my-4">
            <p class="text-lg font-semibold">Self Check-in</p>
            <p class="text-sm">Check yourself in with the lockbox</p>
            </div>
            <hr />
            <div class="my-4">
            <p class="text-lg font-semibold">Furry friends welcome</p>
            <p class="text-sm">Bring your pets along</p>
            </div>
            <hr />
            <p class="my-4 text-lg"> You won't forget your time in this romantic ,memorable place</p>
            <hr />
            <div class="my-4 space-y-4">
            <p class="text-2xl">What this place offers</p>
            <li>Garden View</li>
            <li>Garden View</li>
            <li>Garden View</li>
            <li>Garden View</li>
            <li>Garden View</li>
            <button class="border border-black rounded-xl p-3">Show all amenities</button>
        </div>
            <hr />
            <p>Select Check-in Dates</p>
            <p>Add your dates for exact pricing</p>
            <div class="w-[500px] h-[300px] border">Hi</div>
            <button>Clear dates</button>
            <hr />
            <p class="text-xl my-4">No reviews</p>
        </div>
        <div class="sticky top-10 h-max mx-auto border shadow-xl bg-white/30 rounded-xl p-5 w-max space-y-6">
            <p class="font-semibold text-lg">₹{{data.price}} night</p>
            <div class=" border border-red-600 rounded-xl">
                 <button class="flex flex-col p-2">
                    <p>When</p>
                    <p>DD-MM-YYYY to DD-MM-YYYY</p>
                </button>
                <hr/>
                <button class="flex flex-col p-2">
                    <p>Guests</p>
                    <p>1 guest</p>
                </button>
                
            </div>
            <button class="bg-rose-600 w-full p-2 text-white rounded-xl" [routerLink]="['/book',data.id]">Reserve</button>
            <p class="text-center">You won't be charged yet</p>
            <div class="flex justify-between">
            <p class="underline">₹{{data.price}} x 1 night</p>
            <p>₹{{data.price}}</p>
            </div>
            <hr/>
            <div class="flex justify-between">
                <p class="font-semibold">Total before taxes</p>
                <p>₹{{data.price}}</p>
                </div>
            <button class="underline">Report this listing</button>
        </div>
    </div>
    <hr/>
    <div class="py-4">
        <p class="text-2xl my-4">Where you will be</p>
        <p>{{data.city}}</p>
        <div class=" h-[500px] border">Hi</div>
    </div>
    <hr />
    <div class="flex items-center gap-5 my-5">
        <img src="https://a0.muscache.com/im/pictures/user/88c78c99-4d21-41e2-9ead-22c89b19b1be.jpg" class="rounded-full w-20"/>
        <div>
        <p class="text-2xl">Hosted By Manager </p>
        <p>Joined in 2015 </p></div>
    </div>

</div>